<?xml version="1.0"?>
<config>
    <modules>
        <Aduroware_User>
            <version>1.0.0</version>
        </Aduroware_User>
    </modules>
    <global>
        <helpers>
            <user>
                <class>Aduroware_User_Helper</class>
            </user>
        </helpers>
        <blocks>
            <user>
                <class>Aduroware_User_Block</class>
            </user>
        </blocks>
        <models>
            <user>
                <class>Aduroware_User_Model</class>
                <resourceModel>user_resource</resourceModel>
            </user>
            <user_resource>
                <class>Aduroware_User_Model_Resource</class>
                <deprecatedNode>user_mysql4</deprecatedNode>
                <entities>
                    <entity>
                        <table>user_entity</table>
                    </entity>
                    <user_group>
                        <table>user_group</table>
                    </user_group>
                    <value_prefix>
                        <table>user_entity</table>
                    </value_prefix>
                    <eav_attribute>
                        <table>user_eav_attribute</table>
                    </eav_attribute>
                    <eav_attribute_website>
                        <table>user_eav_attribute_website</table>
                    </eav_attribute_website>
                    <form_attribute>
                        <table>user_form_attribute</table>
                    </form_attribute>
                </entities>
            </user_resource>
        </models>
        <resources>
            <user_setup>
                <setup>
                    <module>Aduroware_User</module>
                    <class>Aduroware_User_Model_Resource_Setup</class>
                </setup>
            </user_setup>
        </resources>
        <fieldsets>
            <user_account>
                <prefix>
                    <create>1</create><update>1</update><name>1</name>
                </prefix>
                <firstname>
                    <create>1</create><update>1</update><name>1</name>
                </firstname>
                <middlename>
                    <create>1</create><update>1</update><name>1</name>
                </middlename>
                <lastname>
                    <create>1</create><update>1</update><name>1</name>
                </lastname>
                <suffix>
                    <create>1</create><update>1</update><name>1</name>
                </suffix>
                <email>
                    <create>1</create><update>1</update>
                </email>
                <password>
                    <create>1</create>
                </password>
                <confirmation>
                    <create>1</create>
                </confirmation>
                <dob>
                    <create>1</create><update>1</update>
                </dob>
                <taxvat>
                    <create>1</create><update>1</update>
                </taxvat>
                <gender>
                    <create>1</create><update>1</update>
                </gender>
            </user_account>
        </fieldsets>
    </global>
    <frontend>
        <secure_url>
            <user>/user/</user>
        </secure_url>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <user_is_logged_in_observer>
                        <class>user/observer</class>
                        <method>beforeLoadLayout</method>
                    </user_is_logged_in_observer>
                </observers>
            </controller_action_layout_load_before>
        </events>
        <routers>
            <user>
                <use>standard</use>
                <args>
                    <module>Aduroware_User</module>
                    <frontName>user</frontName>
                </args>
            </user>
        </routers>
        <layout>
            <updates>
                <user module="Aduroware_User">
                    <file>user.xml</file>
                </user>
            </updates>
        </layout>
    </frontend>

    <default>
        <user>
            <account_share>
                <scope>1</scope>
            </account_share>
            <create_account>
                <confirm>0</confirm>
                <default_group>1</default_group>
                <tax_calculation_address_type>billing</tax_calculation_address_type>
                <email_domain>example.com</email_domain>
                <email_identity>general</email_identity>
                <email_template>user_create_account_email_template</email_template>
                <email_confirmation_template>user_create_account_email_confirmation_template</email_confirmation_template>
                <email_confirmed_template>user_create_account_email_confirmed_template</email_confirmed_template>
            </create_account>
            <default>
                <group>1</group>
            </default>
            <password>
                <forgot_email_identity>support</forgot_email_identity>
                <forgot_email_template>user_password_forgot_email_template</forgot_email_template>
                <remind_email_template>user_password_remind_email_template</remind_email_template>
                <reset_link_expiration_period>1</reset_link_expiration_period>
            </password>
            <name>
                <prefix_show/>
                <prefix_options/>
                <middlename_show/>
                <suffix_show/>
                <suffix_options/>
                <dob_show/>
                <gender_show/>
            </name>
            <startup>
                <redirect_dashboard>1</redirect_dashboard>
            </startup>
        </user>
    </default>

</config>
